* {
    margin: 0;
    padding: 0;
}
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: bold;
    font-size: 8em;
    box-sizing: border-box;
    background-color: var(--claro);
    --escuro: #171717;
    --claro: #fffff0;
}
h2 {
    font-size: 0.5em;
    margin-left: 25vw;
    align-self: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--escuro)
}
#grade {
    height: 510px;
    width: 498px;
    margin: 5vh 50vw 15vh 30vw;
    position:absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    vertical-align: baseline;
}
.pos {
    height: 160px;
    width: 160px;
    position:relative;
    padding: 3px;
    outline: 2px solid var(--escuro);
    background: #FFFFFF
}
#grade .pos p {
    text-align: center;
}
button {
    height: 160px;
    width: 160px;
    position: absolute;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: bold;
    font-size: 1em;
    background-color: var(--claro);
    

}
button:hover {
    cursor: pointer;
    background-color: #ffffff80;
}* {
    margin: 0;
    padding: 0;
}
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: bold;
    font-size: 8em;
    box-sizing: border-box;
    background-color: var(--claro);
    --escuro: #171717;
    --claro: #fffff0;
}
h2 {
    font-size: 0.5em;
    margin-left: 25vw;
    align-self: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--escuro)
}
#grade {
    height: 510px;
    width: 498px;
    margin: 5vh 50vw 15vh 30vw;
    position:absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    vertical-align: baseline;
}
.pos {
    height: 160px;
    width: 160px;
    position:relative;
    padding: 3px;
    outline: 2px solid var(--escuro);
    background: #FFFFFF
}
#grade .pos p {
    text-align: center;
}
button {
    height: 160px;
    width: 160px;
    position: absolute;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: bold;
    font-size: 1em;
    background-color: var(--claro);
    

}
button:hover {
    cursor: pointer;
    background-color: #ffffff80;
}